.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  [role="dialog"],
  [role="dialog"] * {
    visibility: visible;
  }
  [role="dialog"] {
    position: absolute !important;
    inset: 0 !important;
    padding: 0 !important;
  }
}
